<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-brand">Yelp-Camp</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <% if(! currentUser){ %>
                            <li class="nav-item">
                                <a href="/register" class="nav-link">Signup</a>
                            </li>
                            <li>
                                <a href="/login" class="nav-link">Login</a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="#" class="nav-link">Signed In as <%= currentUser.username %></a>
                            </li>
                            <li>
                                <a href="/logout" class="nav-link">Logout</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <h4><%= error %></h4>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <h4><%= success %></h4>
                </div>
            <% } %>
        </div>